@import 'tailwindcss';

@theme {
    --color-algoplus-blue: #0076c0;
    --color-algoplus-orange: #fda118;
    --color-dark: #333;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('./assets/fonts/Pretendard-Regular.otf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Pretendard-Regular';
    color: var(--color-dark);
}

ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
